<%-include('../cabecalho.ejs') %>

<div class="form-box">
    <h1>Editar Informações do Usuário</h1>
    <form action="" method="post">
        
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome" value="<%=usuario.nome%>"><br>
        <input type="hidden" id="id" name="id" value="<%=usuario.id%>"> <!-- ID do time -->


        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Digite seu email" value="<%=usuario.email%>"><br>

        <label for="cpf">CPF</label>
        <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF"  value="<%=usuario.cpf%>"><br>

        <label for="telefone">Celular</label>
        <input type="text" name="telefone" id="telefone" placeholder="Digite n? de celular"  value="<%=usuario.telefone%>"><br>
        
        <button type="submit">Editar</button>
        
    </form>
        
    <div class="form-footer">
        <p>Voltar para a <a href="/admin/usuario/lst">Página Inicial</a></p>
    </div>
    </div>
    </body>

    </html>