<%- include('../cabecalho.ejs') %>

<h1>Cotações</h1>
<div class="add-time">

    <table>
        <!-- Cabeçalho da tabela -->
        <thead>
            <tr>
                <th>Nome</th>
                <th>Contato</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <!-- Corpo da tabela -->
        <tbody>
            
            <%cotacaos.forEach(function(cotacao){%>
            <tr>
                <td><%=cotacao.nome%></td>
                <td><%=cotacao.contato%></td>
                <td><%=cotacao.status%></td>
                <td>
                    <a href="/admin/cotacao/edt<%=cotacao.id%>" class="btn edit">
                        <i class="fas fa-edit"></i>&nbsp;Editar
                    </a>
                    <a href="/admin/cotacao/del<%=cotacao.id%>" class="btn delete">
                        <i class="fas fa-trash"></i>&nbsp;Excluir
                    </a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>

    <!-- Link para iniciar uma nova cotação -->
    <a href="/admin/cotacao/add" class="btn add">Iniciar uma nova Cotação</a>

</div>

</body>
</html>
