
<%-include('../cabecalho.ejs') %>

<!DOCTYPE html>


<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Informações do Aeroporto</title>
   
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="form-box">
        <h1>Editar Informações do aeroporto</h1>
        <form enctype="multiparti/form-data" method="post">

            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome"  value="<%=aeroporto.nome%>" placeholder="Digite o nome do aeroporto"><br>

            <label for="localizacao">Localização</label>
            <input type="text"  name="localizacao" id="localizacao"  value="<%=aeroporto.localizacao%>" placeholder="Digite a localização do aeroporto"><br>

            <img src = "/arquivos/<%=aeroporto.foto%>" class="aerimg "/>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto"   value="<%=aeroporto.foto%>"><br>
            <!-- <label for="foto">Foto</label> -->
            <!-- <input type="number" id="novo-peso" ><br> -->

            <button type="submit">Editar</button>
        </form>

        <div class="form-footer">

            <p>Voltar para a <a href="/admin/aeroporto/lst">Página Inicial</a></p>
        </div>
    </div>
</body>

</html>