<%- include('../cabecalho.ejs') %>

<h1>Aeroportos</h1>
<div class="form-container">
    <table> 
        <form action="/admin/aeroporto/lst" method="post">
        <input type="text" id="pesquisar" placeholder="Pesquisar">
        <button type="submit">pesquisar</button>
        
    </form>
<div class="form-box"  >

            <tr>
                <th>Nome</th>
                <th>Localização</th>
                <th>Foto</th>
                <th>Opções</th>
            </tr>
    
        
        <!-- Corpo da Tabela -->

            <% aeroportos.forEach(function(aeroporto){ %>
            <tr>
                <td><%= aeroporto.nome %></td>
                <td><%= aeroporto.localizacao %></td>
                <td>
                    <img src="/arquivos/<%=aeroporto.foto%>" class="Imenor"/>
                </td>

                <td>
                    <a href="/admin/aeroporto/edt/<%= aeroporto.id %>" class="btn edit">
                        <i class="fas fa-edit"></i>&nbsp;Editar
                    </a>
                    <a href="/admin/aeroporto/del/<%= aeroporto.id %>" class="btn delete">
                        <i class="fas fa-trash"></i>&nbsp;Excluir
                    </a>
                </td>
            </tr>
            <% }) %>
        </div>
    </table><tr>
      

    <!-- Link para adicionar um novo aeroporto -->
    <a href="/admin/aeroporto/add" class="btn add">Adicionar Aeroporto</a>
</div>

</body>
</html>
